

<td><%= link_to user_path(post) do%>
   <%= attachment_image_tag post.user, :image, format: 'jpeg', fallback: "no_image.jpg", size: "40x40" %><% end %>
</td>

<td><%=attachment_image_tag post, :image, format: 'jpeg', fallback: "no_image.jpg", size: "40x40"%>
</td>

<td>
  <%= link_to post.title, post_path(post.id) %>
</td>

<td>
  <%= post.content %>
 </td>

<td id="likes_buttons_<%= post.id %>">
  <%= render "likes/like", post: post %>
</td>

<td>
  <%= link_to 'Show', post %>
</td>

<td>
  <%= link_to 'Edit', edit_post_path(post) %>
</td>

<td>
  <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
  </td>


